<p id="notice"><%= notice %></p>

<p>
  <strong>Want:</strong>
  <%= @advertise.want_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @advertise.product_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @advertise.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @advertise.user_id %>
</p>

<%= link_to 'Edit', edit_advertise_path(@advertise) %> |
<%= link_to 'Back', advertises_path %>
