<p id="notice"><%= notice %></p>

<p>
  <strong>Want:</strong>
  <%= @advertise.want_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @advertise.product_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @advertise.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @advertise.user_id %>
</p>

<p>  
  <strong>Like Count:</strong>
  <%= @advertise.likes.count %>
</p>

<% @advertise.comments.each do |cm| %>
	<p>
	  <strong>Comment:</strong>
	  <%= cm.comment %>
	</p>
<% end %>
<%= link_to 'Edit', edit_advertise_path(@advertise) %> |
<%= link_to 'Back', advertises_path %>
