<%#= form_for Like::LikeWant.new, url: likes_path, method: :post do |f| %>
  <%#= f.hidden_field :type, value: "Like::LikeWant" %>
  <%#= f.hidden_field :target_id, value: want.id %>
  <%#= f.submit "Like" %>
<%# end %>

<div data-role="page" id="pageone">

  <%= render "layouts/header", title: "Want home pag" %>

  <div data-role="main" class="ui-content">
    <%= form_for Want.new do |f| %>
      <%= f.text_field :description ,{ class: "tag_input" } %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :tags %>
      <%= f.submit :Ok %>
      <ul id="suggestions" data-role="listview" data-inset="true"></ul>
    <% end %>

    <% @wants.each do |want| %>
    <div class="want_information">
      <div class="avatar"><image src="assets/avatar.png"/></div>
      <div class="right_info">
        <a class="more" href="#"></a>
        <p>
          <%= want.description %>
        </p>
        <div class="advertise">
          <% want.advertises.each do |advertise| %>
            <div class="advertise_comment">
              <%= advertise.comment %>
              <br/>
              <div class="avatar with_full">
                <image src="assets/icon_product.png"/>
                Some information here!!!!!!!!
              </div>
              <br/>
              <font size="2px" color="#3b5998"><a class="like">Like</a> - <a class="reply">Reply</a></font>
              <%= form_for Comment.new do |ad_comment_field| %>
                <%= ad_comment_field.hidden_field :advertise_id, value: advertise.id %>
                <%= ad_comment_field.text_field :comment, class: "ad_comment" %>
                <%= ad_comment_field.submit :Ok %>
              <% end %>
              <div class="comment">
                <% advertise.comments.reverse.each do |comment| %>
                  <div><%= comment.comment %></div>
                <% end %>
              </div>
            </div>
          <% end %>
          <%= form_for Advertise.new do |f| %>
            <%= f.text_field :comment %>
            <%= f.hidden_field :want_id, value: want.id %>
            <!-- TODO FIX user_id, product_id -->
            <%= f.hidden_field :user_id, value: 1 %>
            <%= f.hidden_field :product_id, value: 1 %>
            <%= f.submit :Ok %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <%= render "layouts/footer" %>
</div>

<script src="assets/wants.js">
</script>