<%= form_for @shop, url: shop_path, html: {multipart: true, :"data-ajax" => false} do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.number_field :tel %>
  </div>
  <div class="field">
    <%= f.label :banner %><br>
    <%= image_tag @shop.banner.large if @shop.banner %>
    <%= f.file_field :banner %>
  </div>
  <div class="field">
    <%= f.label :tags %>
  </div>

  <table id="link_to_add_tag">
    <tbody id="input_tags">
      <% @shop.tags && @shop.tags.each_with_index do |tag, i| %>
        <%= render "tag_fields", {tag: tag, f: f, id: DateTime.now.to_i + i} %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_fields "Add Tag", f, :tags, {append_id: "input_tags", table_id: " link_to_add_tag", class: ""} %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
