<h1>Listing shops</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>Country</th>
      <th>Zipcode</th>
      <th>Tel</th>
      <th>Banner</th>
      <th>Tags</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.owner_id %></td>
        <td><%= shop.name %></td>
        <td><%= shop.address1 %></td>
        <td><%= shop.address2 %></td>
        <td><%= shop.city %></td>
        <td><%= shop.country %></td>
        <td><%= shop.zipcode %></td>
        <td><%= shop.tel %></td>
        <td><%= image_tag shop.banner.large %></td>
        <td><%= shop.tags.map(&:name).join(", ") %></td>
        <td><%= Role.find(UserShop.get_role_id(current_user.id, shop.id)).try(:name) %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if cr_sh = current_user.shop %>
  <%= link_to "Owner Shop", shop_path(cr_sh), :"data-role" => "button", style: "width:100px;" %>
<% else %>
  <%= link_to 'New Shop', new_shop_path, :"data-role" => "button", style: "width:100px;" %>
<% end %>
