<p id="notice"><%= notice %></p>
<p>
  <strong>Owner:</strong>
  <%= @shop.try(:owner_id) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.try(:name) %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @shop.try(:address1) %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @shop.try(:address2) %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.try(:city) %>
</p>

<p>
  <strong>Country:</strong>
  <%= @shop.try(:country) %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @shop.try(:zipcode) %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @shop.try(:tel) %>
</p>

<p>
  <strong>Banner:</strong>
  <%= image_tag @shop.try(:banner).try(:large) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @shop.try(:tags) %>
</p>

<%= link_to 'Edit', edit_shop_path %> |