<%= form_for(@notice_recipient) do |f| %>
  <% if @notice_recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice_recipient.errors.count, "error") %> prohibited this notice_recipient from being saved:</h2>

      <ul>
      <% @notice_recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice_id %><br>
    <%= f.number_field :notice_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_user_id %><br>
    <%= f.number_field :receiver_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
