<%= form_for(@notice_shop) do |f| %>
  <% if @notice_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice_shop.errors.count, "error") %> prohibited this notice_shop from being saved:</h2>

      <ul>
      <% @notice_shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_id %><br>
    <%= f.number_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :send_user_id %><br>
    <%= f.number_field :send_user_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
