<div data-role="page" id="pageone">

  <%= render "layouts/header", title: "Notice" %>

  <div data-role="main" class="ui-content">
    <ul data-role="listview">
      <% @notice_recipients.each do |notice_recipient| %>
      <li>
	<% source_target = notice_recipient.source_target%>
	<a href="<%= url_for(controller: source_target.class.name.tableize, action: :show, id: source_target.id) %>">
	  <%= image_tag "user.png", width: 50, height: 50 %>
	  <div>
	    <strong><%= notice_recipient.send_user.name %></strong>
	    <span><%= I18n.t("views.messages.notices.#{notice_recipient.notice_type}") %></span>
	    <br/>
	    <span><%= time_ago_in_words(notice_recipient.created_at) %> ago</span>
	  </div>
	</a>
      </li>
      <% end %>
    </ul>
  </div>

  <%= render "layouts/footer" %>
</div>
